@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.eot');
  src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Oswald-Bold.woff2') format('woff2'),
       url('../fonts/Oswald-Bold.woff') format('woff'),
       url('../fonts/Oswald-Bold.ttf')  format('truetype'),
       url('../fonts/Oswald-Bold.svg#FontName') format('svg');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
       url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
       url('../fonts/TitilliumWeb-SemiBold.ttf')  format('truetype'),
       url('../fonts/TitilliumWeb-SemiBold.svg#FontName') format('svg');
}

:root {
  --color-bg: #f1f1f1;
  --color-text: #f1f1f1;
  --color-text-btn: #000;
  --color-primary: #FF7F00;
  --color-secondary: rgba(255, 128, 0, 0.6);
  --color-thirdly: #FF5050;
}

html, body {
    margin: 0;
    padding: 0;
}

section {
    padding: 30px;
}

.section__btnRetour, .accueil {
    margin-top: 50px;
}

h1 {
    font-size: clamp(3.563rem, 0.432vw + 3.481rem, 4rem);
    margin: 0 0 46px;
    font-family: "Oswald-Bold";
    color: var(--color-text);
}

h2 {
    font-size: clamp(2.5rem, 0.309vw + 2.442rem, 2.813rem);
    margin: 32px 0;
    font-family: "Oswald-Bold";
    color: var(--color-text);
}

h3 {
    font-size: clamp(1.75rem, 0.185vw + 1.715rem, 1.938rem);
    margin: 22px 0;
    font-family: "Oswald-Bold";
    color: var(--color-text);
}

p, button, a, ul, ol {
    color: var(--color-text);
    margin: 13px 0;
    font-size: clamp(1rem, 0.123vw + 0.977rem, 1.125rem);
    font-family: "TitilliumWeb-SemiBold";
}

p, span, ul, ol {
    max-width: 700px;
}

span {
    display: block;
    margin: 13px 0;
}

.NAV, h4 {
    font-size: clamp(1.188rem, 0.185vw + 1.153rem, 1.375rem);
    font-family: "TitilliumWeb-SemiBold" !important;
    margin: 16px 0;
    color: var(--color-text);
}

img {
    width: 100%;
}

ul, ol {
    padding: 0;
}

ul {
    list-style-type: disc;
}

/* NAV */
.menu {
    background-color: var(--color-bg);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1550;
}

.menu__img {
    height: 40px;
    width: auto;
}

.menu__btn {
    background: none;
    border: none;
    color: var(--color-text-btn);
    cursor: pointer;
}

.menu__ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-bg);
    list-style: none;
    padding: 30px 0 0;
    margin: 0;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    align-items: center;
    z-index: 1500;
}

.menu__li a {
    color: var(--color-text-btn);
    text-decoration: none;
}

.menu--open .menu__ul {
    transform: translateX(0);
}

@media (min-width: 701px) {
    section {
        margin-top: 70px;
        padding: 40px;
    }

    /* NAV */
    .menu {
        height: 70px;
        padding: 0 40px;
    }

    .menu__img {
        height: 60px;
    }

    .menu__btn {
        display: none;
    }

    .menu__ul {
        flex-direction: row;
        gap: 40px;
        padding: 0;
        position: static;
        width: fit-content;
        transform: translateX(0);
    }
}
